[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/foundry-huff-neo"]
	path = lib/foundry-huff-neo
	url = https://github.com/cakevm/foundry-huff-neo
